.input-container {
    z-index: 100;
    max-width: 500px;
    display: flex; 
    align-items: center; 
    border: 1px solid #e57373; 
    padding: 5px;
    border-radius: 5px; 
    background: #ffffff; 
    margin-top: 20px; 
    align-self: center; 
    object-fit: auto; 
    object-position: center; 
    margin-left: 160px;
  }
  
  .input-alert {
    color: red;
    border-right: solid;
  }
  
  .input-field {
    flex-grow: 1;
    border: none;
    outline: none;
  }
  
  .input-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .input-button span {
    color: #e57373;
  }
  